.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 4px;
  gap: 4px;
  border: 1px solid transparent;
}

.project-card:hover {
  border: 1px solid red;
}