.navbar {
  top: 0;
  z-index: 100;
  position: sticky;
}

.logo {
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
}

.nav-link {
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 50px;
}
