.main_container {
  border-radius: var(--chakra-radii-xl) !important;
  border: 1px solid var(--border);
  box-shadow: var(--chakra-shadows-md) !important;
}

.techstacks_container {
  padding: var(--chakra-space-4);
  margin-inline-start: auto;
  margin-inline-end: auto;
  gap: var(--chakra-space-4) !important;
}

.techstacks_heading {
  font-size: var(--chakra-fontSizes-2xl) !important;
}

.techstacks_flex {
  gap: var(--chakra-space-4) !important;
  place-items: center !important;
  flex-wrap: wrap;
  justify-content: center;
}

.techstack {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out !important;
}

/* important to remove delays in hovering animation */
.techstack:hover {
  transform: translateY(-10px) !important;
}

.moveup {
  animation: moveup 1s ease-in-out forwards;
}

/* Techstack Icons */
.tooltip {
  font-weight: 600;
  font-style: italic;
}

.image_wrapper {
  padding: var(--chakra-space-2) !important;
  border-radius: var(--chakra-radii-md) !important;
}


.icon_image {
  object-fit: contain;
}

@keyframes moveup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

[data-theme="light"] {
  .image_wrapper {
    background-color: #d6e4eb;
  }
}

[data-theme="dark"] {
  .image_wrapper {
    background-color: #50656d;
  }
}

.item {
  background-color: #262626;
  font-size: var(--chakra-fontSizes-xs) !important;
  font-weight: 600;
  padding-top: var(--chakra-space-1) !important;
  padding-bottom: var(--chakra-space-1) !important;
  padding-inline-start: var(--chakra-space-2) !important;
  padding-inline-end: var(--chakra-space-2) !important;
  border-radius: 50px !important;
}

[data-theme="light"] {
  .item {
    background-color: #d9d9d9;
  }
}

[data-theme="dark"] {
  .item {
    background-color: #262626;
  }
}