.main_container {
  border-radius: var(--chakra-radii-xl) !important;
  border: 1px solid var(--border);
  box-shadow: var(--chakra-shadows-md) !important;
}

.techstacks_container {
  padding: var(--chakra-space-4);
  margin-inline-start: auto;
  margin-inline-end: auto;
  gap: var(--chakra-space-4) !important;
}

.techstacks_heading {
  font-size: var(--chakra-fontSizes-2xl) !important;
}

.wrapper {
  flex-direction: column;
  margin-bottom: var(--chakra-space-2) !important;
  gap: var(--chakra-space-2) !important;
}

.category {
  font-size: var(--chakra-fontSizes-md) !important;
  font-weight: 800;
}

.items_wrapper {
  flex-wrap: wrap;
  row-gap: var(--chakra-space-2) !important;
  column-gap: var(--chakra-space-1) !important; 
}

.item {
  background-color: #262626;
  font-size: var(--chakra-fontSizes-xs) !important;
  font-weight: 600;
  padding-top: var(--chakra-space-0-5) !important;
  padding-bottom: var(--chakra-space-0-5) !important;
  padding-inline-start: var(--chakra-space-2) !important;
  padding-inline-end: var(--chakra-space-2) !important;
  border-radius: 50px !important;
}

[data-theme="light"] {
  .image_wrapper {
    background-color: #d6e4eb;
  }
  .item {
    background-color: #d9d9d9;
  }
}

[data-theme="dark"] {
  .image_wrapper {
    background-color: #50656d;
  }
  .item {
    background-color: #262626;
  }
}
