.main_container {
  border-radius: var(--chakra-radii-xl) !important;
  border: 1px solid var(--border);
  box-shadow: var(--chakra-shadows-md) !important;
}

.wrapper {
  max-width: var(--chakra-sizes-container-lg) !important;
  padding: var(--chakra-space-6) !important;
}

.header {
  text-align: center;
  gap: var(--chakra-space-1) !important;
}

.title {
  font-size: var(--chakra-fontSizes-2xl) !important;
  margin: var(--chakra-space-2) 0 !important;
  text-align: center;
}

.subtitle {
  font-size: var(--chakra-fontSizes-md) !important;
  font-weight: 300;
}

.container {
  position: relative;
  margin: var(--chakra-space-4) 0 !important;
}

.container::after {
  content: "";
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 10px;
  background-color: var(--primary);
}

@media screen and (max-width: 768px) {
  .container::after {
    left: 31px;
  }
}
