.main_container {
  border-radius: var(--chakra-radii-xl) !important;
  border: 1px solid var(--border);
  box-shadow: var(--chakra-shadows-md) !important;
}

.wrapper {
  max-width: var(--chakra-sizes-container-lg) !important;
  padding: var(--chakra-space-6) !important;
}

.header {
  text-align: center;
  gap: var(--chakra-space-1) !important;
}

.title {
  font-size: var(--chakra-fontSizes-2xl) !important;
  margin: var(--chakra-space-2) 0 !important;
  text-align: center;
}

.subtitle {
  font-size: var(--chakra-fontSizes-md) !important;
  font-weight: 300;
}

.container {
  position: relative;
  margin: var(--chakra-space-4) 0 !important;
}

.container::after {
  content: "";
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 10px;
  background-color: var(--primary);
}

.card_item {
  width: 50%;
  padding: 10px 40px;
  position: relative;
  box-sizing: border-box;
}

.card_item {
  width: 50%;
  padding: 10px 40px;
  position: relative;
  box-sizing: border-box;
}

.card_item::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  right: -16px;
  top: 15px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid var(--primary);
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 22px;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--surface);
}

.right::before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  top: 22px;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--surface) transparent transparent;
}

.right::after {
  left: -16px;
}

.card_content {
  background-color: var(--surface) !important;
  border-radius: var(--chakra-radii-xl) !important;
  padding: var(--chakra-space-6) !important;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.card_content:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card_date {
  margin-bottom: var(--chakra-space-3) !important;
  font-size: var(--chakra-fontSizes-sm) !important;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 500;
  color: #1a202c;
  background-color: #79beda;
  border-radius: 50px;
}

.card_title {
  font-size: var(--chakra-fontSizes-md) !important;
  margin: 0;
  font-weight: 600;
  color: var(--text);
}

.card_subtitle {
  color: var(--text);
}

.card_subtitle,
.card_desc {
  font-size: var(--chakra-fontSizes-sm) !important;
  font-weight: 400;
  margin-top: 5px;
}

.card_desc {
  color: var(--muted);
}

.card_desc button {
  display: inline;
  margin: 0;
  border: none;
  padding: 0;
  height: 0;
  color: gray;
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  font-size: var(--chakra-fontSizes-sm);
}

@media screen and (max-width: 768px) {
  .card_item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .card_item::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--surface) transparent transparent;
  }

  .left::after,
  .right::after {
    left: 18px;
  }

  .right {
    left: 0;
  }
}


@media screen and (max-width: 768px) {
  .container::after {
    left: 31px;
  }
}
