.main_container {
  border-radius: var(--chakra-radii-xl) !important;
  border: 1px solid var(--border);
  box-shadow: var(--chakra-shadows-md) !important;
}

/* Namecard */
.container {
  height: 100%;
  justify-content: center;
  padding: var(--chakra-space-10) !important;
}

.wrapper {
  overflow: hidden;
  align-items: center;
  gap: var(--chakra-space-4) !important;
}

/* Buttons */
.buttons_container {
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: var(--chakra-space-2) !important;
  padding-top: var(--chakra-space-2) !important;
}

.platform_icon {
  background-color: var(--icon-secondary) !important;
}

.download_icon {
  background-color: var(--icon-primary) !important;
  font-weight: 400 !important;
  color: #0d1011 !important;
}

.platform_icon:hover,
.download_icon:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

/* Image */
.image_container {
  border: 3px solid transparent;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.image_container:hover {
  border: 3px solid transparent;
}

.image_container:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--primary);
  animation: border-animation 1s ease-in infinite;
}

.image_avatar {
  border-radius: 100%;
  object-fit: cover;
  max-width: 150px !important;
}

/* TextContent */
.greet {
  font-weight: 600;
  font-size: var(--chakra-fontSizes-3xl) !important;
  color: var(--text);
}

.text_container {
  gap: var(--chakra-space-2) !important;
}

.text {
  font-size: var(--chakra-fontSizes-md) !important;
  font-weight: 300;
  color: var(--text);
}

.hand {
  display: inline-block;
  cursor: pointer;
  animation: wave-animation 2.5s;
  transform-origin: 70% 70%;
}

.hand:hover,
.hand_wave {
  animation: wave-animation 2.5s infinite;
}

@keyframes border-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(14deg);
  }
}
