/** START OF NAMECARD SECTION **/
/* PROFILE PICTURE */
.profile-pic-container {
  border: 3px solid transparent;
  position: relative;
  border-radius: 50%;
}

.profile-pic-container:hover {
  border: 3px solid transparent;
}

.profile-pic-container:hover::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: greenyellow;
  animation: border-animation 1s ease-in infinite;
}

/* HAND EMOJI */
.wave {
  display: inline-block;
  cursor: pointer;
  animation: wave-animation 2.5s;
  transform-origin: 70% 70%;
}

.wave:hover,
.hand-wave {
  animation: wave-animation 2.5s infinite;
}

/** NAMECARD KEYFRAMES ANIMATION **/
/* animation for profile picture in namecard */
@keyframes border-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* animation for hand-wave in namecard */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(14deg);
  }
}
/** END OF NAMECARD SECTION **/

/** START OF TECHSTACK SECTION **/
.moveup {
  animation: moveup 1s ease-in-out forwards;
}

/** TECHSTACK KEYFRAMES ANIMATION **/
/* animation for images of techstack moving up */
@keyframes moveup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/** END OF TECHSTACK SECTION **/