.navbar {
  max-width: var(--chakra-sizes-container-xxl) !important;
  position: sticky;
  top: 0;
  z-index: 100;
  /* margin-bottom: 30px; add margin maybe? */
  background-color: var(--bg);
}

.navbar_wrapper {
  max-width: var(--chakra-sizes-container-lg) !important;
  padding: var(--chakra-space-4);
}

.navbar_stack {
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  background: var(--logo);
  background-clip: text;
}

.navlinks_container {
  justify-content: flex-end;
  gap: var(--chakra-space-6);
}

.navlink {
  padding: 8px 16px;
  font-weight: 600;
  border-radius: var(--chakra-radii-xl);
  text-decoration: none !important;
}

.navlink:hover {
  background-color: var(--navbtn-bg-hover);
  color: var(--navbtn-color-hover);
}

.navbar_drawer {
  background-color: var(--bg);
}