.navbar {
  max-width: var(--chakra-sizes-container-xxl) !important;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--bg);
}

.navbar_wrapper {
  max-width: var(--chakra-sizes-container-lg) !important;
  padding: var(--chakra-space-4);
}

.navbar_stack {
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  background: var(--primary) !important; 
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
}

.navlinks_container {
  justify-content: flex-end;
  gap: var(--chakra-space-6);
}

.navlink {
  padding: 8px 16px;
  font-weight: 600;
  border-radius: var(--chakra-radii-xl);
  text-decoration: none !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.navlink:hover {
  background-color: var(--navbtn-bg-hover);
  color: var(--navbtn-color-hover);
}

.navbar_drawer {
  background-color: var(--bg);
}

.navlink.active {
  background-color: var(--navbtn-bg-hover) !important;
  color: var(--navbtn-color-hover) !important;
}
