.contact_container {
  max-width: var(--chakra-sizes-container-lg) !important;
  scroll-margin-top: 75px !important;
}

.contact_wrapper {
  max-width: var(--chakra-sizes-container-lg);
  border-radius: var(--chakra-radii-xl);
  box-shadow: var(--chakra-shadows-lg);
  border: 1px solid var(--border);
  padding: var(--chakra-space-8);
  gap: var(--chakra-space-8) !important;
}

.contact_header {
  gap: var(--chakra-space-4);
}

.title {
  color: var(--text);
  font-size: var(--chakra-fontSizes-3xl) !important;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  color: var(--text);
}
