@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --main-white: #f0f0f0;
  --sub-white: #f3e5ab;
  --main-blue: #1b263b;
  --sub-blue: #415a77;
  --body-col: #f0f0f0;
  --font-col: #000;
  --header-h: clamp(60px, 20vw, 70px);
  --footer-h: clamp(60px, 20vw, 70px);
  --fs-xl: clamp(2rem, calc(5vw + 1rem), 5rem);
  --fs-700: clamp(2rem, calc(5vw + 1rem), 4rem);
  --fs-500: clamp(1.8rem, calc(4vw + 1rem), 2.5rem);
  --fs-400: clamp(1.6rem, calc(1vw + 1rem), 2rem);

  --ff-logo: 'Caveat', Arial, sans-serif;
  --ff-main: 'Montserrat', 'Helvetica', sans-serif;
  --ff-sub: 'Open Sans', 'Lato', sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: var(--body-col);
  color: var(--font-col);
}

main {
  background-color: #303841;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-main);
}

header {
  height: var(--header-h);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding: 0;
  margin: auto 0;
  font-family: var(--ff-logo);
}

#navbar {
  top: 0;
  padding: 0;
  margin: auto 0;
}

.nav-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.logo {
  color: var(--main-white);
}

.nav-link {
  color: var(--main-white);
  text-decoration: none;
}

.welcome-section {
  height: calc(100vh - var(--header-h));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1b263b;
  color: var(--main-white);
}

.welcome-section h1 {
  position: relative;
  font-size: var(--fs-xl);
  white-space: nowrap;
  position: relative;
}

.welcome-section h1::before,
.welcome-section h1::after {
  content: '';
  position: absolute;
  inset: 0;
}

.welcome-section h1::before {
  background-color: var(--main-blue);
  animation: typing 4s steps(21) forwards;
}

.welcome-section h1::after {
  width: 4rem;
  position: absolute;
  top: 70px;
  background: var(--main-white);
  animation: blink 700ms forwards infinite, typing 4s steps(21) forwards;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.welcome-section h1 {
  padding: 10px;
  font-size: var(--fs-xl);
}

.welcome-section p {
  font-style: italic;
  color: var(--sub-white);
  padding: 10px;
  font-size: var(--fs-400);
}

.projects {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.projects h2 {
  padding-bottom: 100px;
  text-decoration: underline;
  color: var(--main-white);
  font-size: var(--fs-500);
  text-align: center;
}

.project-content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.project-tile {
  height: 300px;
  width: 300px;
  border: 1px solid #fff;
}

.project-img {
  height: 80%;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.project-link {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.project-link a {
  font-size: 2.5rem;
  font-family: var(--ff-logo);
  color: #000;
  text-decoration: none;
}

.project-link a:hover::before {
  content: '<';
}

.project-link a:hover::after {
  content: '/>';
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #778da9;
}

.contact-header {
  text-align: center;
  color: var(--main-white);
}

.contact-header p {
  font-style: italic;
}

.contact-links {
  margin-top: 50px;
}

.contact-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-links ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--main-white);
}

.contact h2 {
  font-size: var(--fs-700);
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}