.project_container {
  max-width: var(--chakra-sizes-container-lg) !important;
  scroll-margin-top: 75px !important;
}

.wrapper {
  border: 1px solid var(--border);
  border-radius: var(--chakra-radii-xl) !important;
  padding: var(--chakra-space-6) !important;
  box-shadow: var(--chakra-shadows-lg);
  gap: var(--chakra-space-4) !important;
}

.heading {
  margin: var(--chakra-space-2) 0 !important;
  font-size: var(--chakra-fontSizes-2xl) !important;
  margin-left: var(--chakra-space-0) !important;
  color: var(--text);
}

.grid {
  gap: var(--chakra-space-6) !important;
}
