@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("~/assets/fonts/inter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("~/assets/fonts/inter-bold.woff2") format("woff2");
}

html,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  @apply antialiased;
}
