@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

@theme inline {
  --color-primary: hsla(190, 84%, 29%, 1); /* Cerulean */
  --color-secondary: hsla(183, 81%, 35%, 1); /* Dark Cyan */
  --color-accent: hsla(189, 65%, 22%, 1); /* Dark Teal */

  /* Neutrals */
  --color-neutral-dark: hsla(0, 0%, 2%, 1); /* Black */
  --color-neutral-light: hsla(71, 13%, 83%, 1); /* Dust Grey */
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter-bold.woff2") format("woff2");
}

html,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  @apply antialiased;
}

.audiowide {
  font-family: Audiowide;
}