/** NAMECARD KEYFRAMES ANIMATION **/
/* animation for profile picture in namecard */
@keyframes border-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* animation for hand-wave in namecard */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(14deg);
  }
}
/** END OF NAMECARD SECTION **/

/** START OF TECHSTACK SECTION **/
/** TECHSTACK KEYFRAMES ANIMATION **/
/* animation for images of techstack moving up */
@keyframes moveup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/** END OF TECHSTACK SECTION **/
