:root {
  --primary: #5c96ad;
  --secondary: #a1c9d9;
  --accent: #6cb4d0;

  --bg: #f5f8fa;
  --surface: #d6e4eb;
  --text: hsl(195, 13, 6);
  --muted: hsl(0, 0%, 30%);

  --navbtn-bg-hover: hsl(0, 0%, 10%);
  --navbtn-color-hover: hsl(0, 0%, 95%);

  --icon-primary: #6db1cc;
  --icon-secondary: #dbe9f0;

  --border: hsla(0, 0%, 10%, 0.125);

  --logo: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
}

[data-theme="dark"] {
  --primary: #528ca3;
  --secondary: #264e5e;
  --accent: #2f7793;

  --bg: #05080a;
  --surface: hsl(195, 10%, 10%);
  --text: hsl(0, 0%, 90%);
  --muted: hsl(0, 0%, 70%);

  --navbtn-bg-hover: hsl(0, 0%, 95%);
  --navbtn-color-hover: hsl(0, 0%, 10%);

  --icon-primary: #5ba6c4;
  --icon-secondary: #0f1e23;

  --border: hsla(0, 0%, 90%, 0.125);

  --logo: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
}

* {
  font-family: Inter !important;
}

html {
  scroll-behavior: smooth;
}

body {
  /* min-width: 480px; */
  word-wrap: break-word;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

.italic {
  font-style: italic;
}
