:root {
  --primary: hsl(197, 33%, 52%);
  --secondary: hsl(197, 42%, 74%);
  --accent: hsl(197, 52%, 62%);

  --bg: hsl(204, 33%, 95%);
  --text: hsl(195, 13%, 10%);
  --muted: hsl(195, 13%, 45%);
}

[data-theme="dark"] {
  --primary: hsl(197, 33%, 48%);
  --secondary: hsl(197, 42%, 26%);
  --accent: hsl(197, 52%, 38%);

  --bg: hsl(204, 33%, 10%);
  --text: hsl(195, 13%, 95%);
  --muted: hsl(195, 13%, 55%);
}

* {
  font-family: Inter !important;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 480px;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

.italic {
  font-style: italic;
}
